* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  min-width: 1024px;
}

/* 面包屑部分 */
.el-breadcrumb {
  margin-bottom: 15px;
}

/* 表格部分 */
/* 分页部分 */
.el-table,
.el-pagination {
  margin-top: 15px;
}
.cell {
  font-size: 12px;
}
